body{
    background-color: #faeee7;
}
.contenedor{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

.contenedor .portada{
    width: 30%;
    margin: 0;
    padding: 1em;
}

.contenedor .portada img{
    width:100%;
}

.contenedor .detalle{
    width: 70%;
    padding: 1em;
}


.similares{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
    margin:0.5em;
}

.similares .similar{
    width: calc(25% - 0.5em);
    margin: auto;
}

.similar img {
    width: 100%;
    transition: transform 1s;
    transform: scale(1);
}

.similar img:hover{
    transform: scale(1.1);
}

.boton{
    width: 100%;
    background-color: rgb(52, 12, 196);
    color: #fff;
    padding: 1em;
    border-radius: 10px;
    margin-top: 2em;
    box-shadow: 5px 8px #999;
}

.boton:hover{
    cursor: pointer;
    background-color: rgb(42, 14, 141);
}

.boton:active{
    background-color: rgb(42, 14, 141);
    box-shadow: 3px 5px #666;
    transform: translateY(4px);
}

a{
    text-decoration: none;
    color: #00f;
}

label{
    font-weight: bold;
}

.detalle-temporadas-caps{
    display: flex;
    flex-wrap: wrap;
}

.detalle-temporadas-caps .temporadas{
    width: calc(50% - 1em);
}

.detalle-temporadas-caps .capitulos{
    width: calc(50% - 1em);
}