body {
    background-color: #faeee7;
}

img {
    height: 130px;
    width: 130px;
}

.avatar {
    inline-size: fit-content;
    text-align: center;
    display: block;
    margin: 20px 20px;
}

form {
    outline: solid thin;
    max-width: 850px;
    margin: 10px auto;
    padding: 1em;
    margin-bottom: 20px;
}

.contenedor {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 15px 40px;
}

.col-1 {
    grid-column: 1;
}

.col-2 {
    grid-column: 2;
}

label {
font-weight: bold;
    display: inline-block;
    width: auto;
}

.label_excepcion{
    font-weight: normal;
}

#nrocvv {
    width: 30px;
}

.botones {
    margin-top: 25px;
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.guardar {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    background-color: #a1ffa1;
}

.cancelar {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    background-color: #cc5c3f;
}

input.error, select.error{
    border: 1px solid crimson;
}

#mensaje{
    /* font-family: 'Share Tech Mono', monospace; */
    display: none;
    outline: dotted thin crimson;
    color: crimson;
    margin: 2em auto; 
    max-width: fit-content;
    max-height: fit-content;
}